{%extends 'core/base.html'%}

{% block contenido %}
{% load crispy_forms_tags %}

<form action="{% url 'login' %}" method="post">
    {% csrf_token %}

    <div class="card mx-auto p-4" style="width: 50rem;">
  <h5 class="card-header bg-success">Iniciar Sesion</h5>
  {{form | crispy }}
  <div class="card-body">
    <a href="{% url 'inicio' %}">Volver al inicio</a>
    <a href="{% url 'register' %}">¿Registrarse?</a>
    <button class="btn btn-primary bg-success" type="submit">Iniciar Sesión</button>
  </div>
</div> 
</form>

{% endblock %}
