{% extends 'core/base.html' %}

{% block contenido %}
<hr>
  <h1 class="display-4 text-center my-4">Métricas</h1>
<hr>
  <!-- Tarjeta de Solicitudes por mes -->
  <div class="card shadow-sm mb-3 mx-auto" style="max-width: 1000px;">
    <div class="card-header bg-success text-white">
      <h5 class="mb-0"><i class="bi bi-calendar-event"></i> Solicitudes por mes</h5>
    </div>
    <div class="card-body">
      {% for item in soli_x_mes %}
        <p class="mb-2">
          <strong>{{ item.mes|date:"F Y" }}:</strong> {{ item.total }} solicitudes
        </p>
      {% endfor %}
    </div>
  </div>
  
  <div class="card shadow-sm mb-3 mx-auto" style="max-width: 1000px;">
    <div class="card-header bg-success text-white">
      <h5 class="mb-0"><i class="bi bi-recycle"></i> Materiales más reciclados</h5>
    </div>
    <div class="card-body">
      {% for item in tipomat_x_mes %}
        <p class="mb-2">
          <strong>{{ item.tipomat }}:</strong> {{ item.total }} solicitudes
        </p>
      {% endfor %}
    </div>
  </div>
{% endblock %}

